<div class="topnav">
    <div class="brand">Angular 8 Projects</div>
    <div class="toplinks">
        <a href="#">Features</a>
        <a href="#">Docs</a>
        <a href="#">Resources</a>
        <a href="#">Events</a>
        <a href="#">Blogs</a>
    </div>
    <div class="clear"></div>
</div>

<!--For Routing-->
<!-- <header>
    <nav>
        <ul class="nav nab-tabs">
            <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="products">Products</a></li> -->

            <!-- <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/"><button class="btn btn-outline-success">Home</button></a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/about"><button class="btn btn-outline-success">About</button></a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/contact"><button class="btn btn-outline-success">Contact</button></a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/products"><button class="btn btn-outline-success">Products</button></a></li> -->

            <!-- <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><button class="btn btn-outline-success">Home</button></a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/home"><button class="btn btn-outline-success">Home</button></a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/about"><button class="btn btn-outline-success">About</button></a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/contact"><button class="btn btn-outline-success">Contact</button></a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/products"><button class="btn btn-outline-success">Products</button></a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/notfound"><button class="btn btn-outline-success">Not Found</button></a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/buy-products"><button class="btn btn-outline-success">Buy Products</button></a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/view-child"><button class="btn btn-outline-success">@ViewChild</button></a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/basicForm"><button class="btn btn-outline-success">Form</button></a></li>
           <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/reactiveForm"><button class="btn btn-outline-success">Reactive-Form</button></a></li>
           <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/model-driven"><button class="btn btn-outline-success">Model-Driven-Form</button></a></li>

        </ul>
    </nav>
</header>
<router-outlet></router-outlet>-->

