<!-- <h1>Class & Style Binding</h1>
<div class="box">
    Class Binding
</div> -->

<!-- <h1>Class & Style Binding</h1>
<div class="box" [class.myClass]="true">
    Class Binding using static way
</div>

<h1>Class & Style Binding</h1>
<div class="box" [class.myClass]="myProperty">
    Class Binding using Dynamic way
</div> -->

<!-- <h1>Class & Style Binding</h1>
<div class="box" [style.margin]="myStyle1">
    Class Binding using Dynamic way
</div> -->

<!-- <h1>Class & Style Binding</h1>
<div class="box" [style.margin]="isActive?myStyle1:'5px'">
    Class Binding using Dynamic way
</div> -->

<!-- <h1>Class Binding Using Inbuilt Property</h1>
<div class="box" [ngClass]=" 'class1 class2 class3'">
    Class Binding using Dynamic way
</div> -->

<!-- <h1>ngClass Binding Using Inbuilt Property</h1>
<div class="box" [ngClass]="multiClasses">
    Class Binding using Dynamic way
</div> -->

<h1>ngStyle Binding Using Inbuilt Property</h1>
<div class="box" [ngStyle]="
    {
     'background':'green',
     'border':'10px solid red'
    }
">
    Style Binding using Dynamic way
</div>

<h1>ngStyle Binding Using Inbuilt Property</h1>
<div class="box" [ngStyle]="multiStyles">
    Style Binding using Dynamic way
</div>