<div class="demo">
  <!--  Start Date:Sat Jan 01 2000 00:00:00 GMT+0530 (India Standard Time)-->
  <div>Start Date:{{startDate}}</div>

  <!--  Start Date:Jan 1, 2000-->
  <!--  <div>Start Date:{{startDate | date}}</div>-->

  <!--  Start Date:01/01/2000-->
  <!--  <div>Start Date:{{startDate | date: 'MM/dd/yyyy'}}</div>-->

  <!--  Start Date:Jan/01/2000-->
  <!--  <div>Start Date:{{startDate | date: 'MMM/dd/yyyy'}}</div>-->

  <!--    Start Date:Jan 01 2000-->
  <!--  <div>Start Date:{{startDate | date: 'MMM dd yyyy'}}</div>-->

  <!--  009.99672-->
  <!--  <div>{{price | number: '3.3-5'}}</div>-->

  <!--  <div>{{price | currency}}</div>-->
  <!--  <div>{{price | currency: 'EUR'}}</div>-->
  <!--  <div>{{price | currency: 'GBP'}}</div>-->

  <!--  <div>Percentage:{{rate | percent}}</div>-->

  <!--  <div>json:{{courses | json}}</div>-->
  <!--  <div *ngFor="let pair of course | keyvalue">-->
  <!--    {{pair.key + ':' + pair.value}}-->
  <!--  </div>-->
</div>
