
 <!-- <app-my-container></app-my-container> -->
<!-- <app-databind></app-databind> -->
<!-- <app-class-style></app-class-style> -->
<!-- <app-eventbind></app-eventbind> -->
<!-- <app-two-way></app-two-way> -->
<!-- <app-ng-if></app-ng-if> -->
<!-- <app-ng-switch></app-ng-switch> -->
<!-- <app-ng-for></app-ng-for> -->

<!-- for routing -->
 <!-- <app-topnav></app-topnav> -->
<!--<app-view-child></app-view-child>-->

<!-- <app-ng-if></app-ng-if> -->
<!--<app-parent></app-parent>-->
<!--<app-child></app-child>-->

<!--JSON.stringify() Vs JSON.parse() use with Real Json Api in Angular-->
<!-- <app-json-conversion></app-json-conversion> -->
<!-- <app-crud-one></app-crud-one> -->
<!-- <app-crud-two></app-crud-two> -->
<!--<app-parent></app-parent>-->
<!-- <app-reactive-basic-form></app-reactive-basic-form> -->

