<!--<div class="page-area">
    <h2>Contact Us</h2>
    <p>This is contact page</p>

     <div class="row">
        <div class="col-md-8">
                        <div class="col-md-6">
                                        <app-card>
                                             <h5 class="card-title">Laptop </h5>
                                             <a routerLink="laptop"  class="btn btn-success">Know More about Laptop</a>
                                        </app-card>
                                 </div>

                                 <div class="col-md-6">
                                         <app-card>
                                                 <h5 class="card-title">Mobile </h5>
                                                 <a routerLink="mobile"  class="btn btn-success">Know More about Mobile</a>
                                         </app-card>
                                  </div>

                                  <div class="col-md-6">
                                         <app-card>
                                                 <h5 class="card-title">TV </h5>
                                                 <a routerLink="tv"  class="btn btn-success">Know More about TV</a>
                                         </app-card>
                                  </div>

                                  <div class="col-md-6">
                                         <app-card>
                                                 <h5 class="card-title">Washing Machine </h5>
                                                 <a routerLink="washing-machine"  class="btn btn-success">Know More about Washing Machine</a>
                                         </app-card>
                                  </div>
        </div>

    </div>
</div>-->
<div class="page-area">
        <h2>Contact Us</h2>
        <p>This is contact page</p>

        <div class="row">
                <div class="col-md-6">
                <!-- card 1 start -->
                <app-card></app-card>
                </div>

                <div class="col-md-6">
                        <!-- card 2 start -->
                        <!-- <app-card2></app-card2> -->
                </div>
        </div>
</div>
